.appLogo {
  height: 64px;
  width: auto;
  margin-right: 30px;
}
.home--toolbar {
  width: 100%;
  position: absolute;
  top: calc(50% - 120px);
  z-index: 99;
  background-color: rgb(255, 0, 0, 0);
}
.header--slogan {
  display: inline-block;
  color: rgb(22, 21, 21);
  z-index: 99;
  background-color: rgb(255, 0, 0, 0);
}
.header--slogan-text {
  display: block;
  margin-top: 25px;
}
.header--button {
  display: block;
  margin-top: 25px;
}
.header--divide {
  height: 2.5px;
  width: 120px;
  display: inherit;
  background-color: rgb(231, 71, 71);
  margin-right: 25px;
}
.page--item {
  padding: 0 !important;
}
.page--item-img {
  height: 240px;
  position:relative;
}
.page--item-text {
  left: 0;
  position:absolute;
  text-align:center;
  top: 42%;
  font-size: 24px;
  width: 100%;
  color: white;
}
.dfBg {
  background: radial-gradient(
    farthest-side ellipse at 10% 0,
    #00b7d6,
    #00cfd5
  ) !important;
}
.lightBg {
  background: #ffffff !important;
}

.darkBg {
  background: linear-gradient(to right top, #000000, #151515) !important;
}

.gradientBG {
  background: linear-gradient(-45deg, #a0caf2, #a1f3e0, #84cce6, #91f5de);
  background-size: 400% 400%;

  animation: Animation 20s ease-in-out infinite;
}

.headerBG {
  background: linear-gradient(-45deg, #eeeeee, #e5f1ee, #eff4f7, #e3f0ed);
  background-size: 400% 400%;

  animation: Animation 20s ease-in-out infinite;
}

@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

/* https://www.gradient-animator.com/ */
.authen-page {
  background: linear-gradient(281deg, #a6f5e1, #fdc7e1, #ffbbbb, #abf0e8);
  background-size: 800% 800%;

  animation: AnimationName 64s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
