.appLogo {
  height: 40px;
  width: 40px;
  margin-right: 30px;
}
.dfBg {
  background: radial-gradient(
    farthest-side ellipse at 10% 0,
    #00b7d6,
    #00cfd5
  ) !important;
}
.deepDarkBg {
  background: linear-gradient(to right top, #f5f6f7, #fdfbfb) !important;
}

.gradientBG {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
  background-size: 400% 400% !important;
  animation: change 10s ease-in-out infinite !important;
  -webkit-animation: change 10s ease-in-out infinite !important;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}