.appLogo {
  height: 40px;
  width: 40px;
  margin-right: 30px;
}
.dfBg {
  background: radial-gradient(
    farthest-side ellipse at 10% 0,
    #00b7d6,
    #00cfd5
  ) !important;
}
.lightBg {
  background: linear-gradient(to right top, #f5f6f7, #fdfbfb) !important;
}

.darkBg {
  background: linear-gradient(to right top, #000000, #151515) !important;
}

.gradientBG {
  background: linear-gradient(-45deg, #a0caf2, #a1f3e0, #84cce6, #91f5de);
  background-size: 400% 400%;

  animation: Animation 20s ease-in-out infinite;
}

@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
